# Templated out from
# https://docs.openstack.org/swift/queens/install/storage-install-rdo.html
uid = swift
gid = swift
log file = /var/log/rsyncd.log
pid file = /var/run/rsyncd.pid
address = {{ ipaddr }}

[account]
max connections = 2
path = /srv/node
read only = False
lock file = /var/lock/container.lock

[object]
max connections = 2
path /srv/node
read only = False
lock file = /var/lock/object.lock
